extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block main
  .container
    a.login-link(href=session ? '/my' : '/sign-in')
      img(src='images/profile.png', alt='프로필 이미지', width='68px', height='68px')
      span 
        if session
          = `고마운 분, ${session.nickname}`
        else
          = '로그인 해주세요.'
