include mixins/header 

doctype html
html(lang="ko")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    block head
  body
    +header(headerTitle)
    main
      block body
