extends layout

block head 
  link(rel='stylesheet', href='/stylesheets/login.css')
block body
  div.l-vertical
    div.container
      form.login-form
        input.auth-input(id="email" name="email" type="text", placeholder="아이디 또는 이메일")
        input.auth-input(id="password" name="password" type="password", placeholder="비밀번호")
        button.block-btn.theme-btn-primary.login-btn(type="submit") 로그인
    div.container
      p.sign-up-link 혹시, 배달의민족이 처음이신가요? 
        a(href="/sign-up") 회원가입