.send-code-btn {
  margin-top: 2rem;
}

.verify-phone-form + .verify-code-form {
  margin-top: 2rem;
}

.resend-code-btn {
  display: block;
  margin: 2rem 0 0 auto;
  border: 0;
  padding: 0;
  background: none;

  font-size: 1rem;
  color: var(--colors-primary);
}

.resend-code-btn:hover {
  opacity: 0.75;
}
