.not-found-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.not-found-wrap > h2 {
  font-family: 'BMHannaPro';
  font-size: 95px;
  font-weight: 800;
  line-height: 1;
  margin: 0 auto;
}

.not-found-wrap > p {
  margin: 3rem 0 2rem 0;

  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.8px;
  text-align: center;
}

.not-found-link {
  position: relative;
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--colors-primary);
}

.not-found-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.5rem;
  background-color: var(--colors-primary);
  opacity: 0.25;
}
