.addtional-info-container {
  margin-top: 3rem;
}

.additional-info-form,
.additional-input-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.email-wrap {
  display: flex;
  align-items: flex-end;
}

.email-wrap .form-input {
  flex: 1;
}

.check-duplicate-btn {
  margin: 0 0 0 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background: none;
}

.check-duplicate-btn:hover {
  opacity: 0.75;
}

.form-input.is-error + .check-duplicate-btn {
  margin-bottom: 1.25rem;
}
