.block-btn {
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0.25rem;
  padding: 1rem 0;

  font-size: 1rem;
  font-weight: 500;

  background: none;
  cursor: pointer;
}

.block-btn:hover {
  opacity: 0.75;
}

.theme-btn-primary {
  color: #ffffff;
  background-color: var(--colors-primary);
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.theme-btn-primary:disabled {
  background-color: var(--colors-gray-200);
}

.theme-btn-default {
  color: #000000;
  background-color: transparent;
  border: 1px solid var(--colors-gray-200);
}

.theme-btn-default:disabled {
  opacity: 0.25;
}
