.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.header-nav {
  width: 100%;
  height: 3.5rem;
  max-width: 32rem;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.header-title {
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 0;
}

.header-btn,
.header-link {
  width: 2rem;
  height: 1.5rem;
  display: flex;
  align-items: center;

  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.header-link {
  justify-content: flex-start;
}

.header-btn {
  color: var(--colors-primary);
  justify-content: flex-end;
}

.header-btn:disabled {
  opacity: 0.25;
}

.header-btn i,
.header-link i {
  width: 1.5rem;
  height: 1.5rem;
}

i.arrow-left {
  background: url(/images/icons/arrow-left.svg) no-repeat;
}

i.close {
  background: url(/images/icons/close.svg) no-repeat;
}
