extends ../layout
include ../mixins/form-input
include ../mixins/block-btn

block head
  link(rel='stylesheet', href='/stylesheets/verify-phone.css')
block body
  div.container
    form.form-verify-phone
      +form-input("phone", "휴대전화", true, true)(type="tel", name="phone", maxlength="13")
      +block-btn("인증번호 받기", false, "send-code-btn")(type="submit", disabled)
block script
  script(src="/javascripts/verify-phone.js" type="module")