extends ../layout
include ../mixins/form-input

block head
block body
  div.container
    form.form-verify-phone
      +form-input("phone", "휴대전화", true, true)(type="tel", name="phone", maxlength="13")
block script
  script(src="/javascripts/verify-phone.js" type="module")