include ../mixins/header

doctype html
html(lang='ko')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= `배달의 민족${title ? ` | ${title}` : ''}`
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mixins/header.css')
    link(rel='stylesheet', href='/stylesheets/mixins/form-input.css')
    link(rel='stylesheet', href='/stylesheets/mixins/block-btn.css')
    block head
  body
    +header(headerTitle, headerRightLink, headerRightHref, headerLeftLabel)
    main
      block main
    block script
